<div style="padding:10px 5px;background-color: aqua;">
    <span><a routerLink="">Home</a></span>
    <span><a routerLink="/error_Handling">Error_Handling</a></span>
    <span><a routerLink="/attrdirectives">Attribute Directive</a></span>
    <span><a routerLink="/parent">component Interaction</a></span>
    <span><a routerLink="/pipes">pipes</a></span>
    <span><a [routerLink]="['/TDF']">Template Driven Forms</a></span>
    <span><a [routerLink]="['/RF']">Reactive Forms</a></span>


</div>
<div style="padding:20px 0px 0px 0px">
    <router-outlet></router-outlet>
</div>